
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

html {
    // font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #80a8b7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 27rem;
    padding: .5rem 1.7rem;
    background-color: rgb(255, 255, 255);
    border-radius: .3rem;
    box-shadow: .2rem .2rem 1rem grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   

}

.container #question {
    margin: .8rem 0 .6rem 0;
   font-size: 1.1rem;
   font-weight: 500;

}


.field {
    margin: .7rem 0;
    display: flex;
    align-items: center;

    label {
        margin-left: .3rem;
        font-size: .8rem;
    }
}

.submit_button {
    padding: .15rem .9rem;
    border: none;
    margin: .8rem 0;
    background-color: rgb(5, 86, 161);
    color: white;
    align-self: center;
    box-shadow: .2rem .2rem .2rem grey;
    
    &:hover{
        background-color: rgb(12, 98, 179);
        transition: all .2s;
   }
    &:active{
         transform: translate(.2rem, .2rem);
         box-shadow: none;
    }
}

.results {
    
    background-color: #80a8b7;
    width: 100%;
    padding: .7rem 0;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.show_item{
    display: none;
}



.results #score{
    margin-bottom: .5rem;
}
.play_again {
    background-color: rgb(6, 107, 82);
    border: none;
    padding: .2rem .8rem;
    color: white;
    box-shadow: .2rem .2rem .2rem grey;

    &:hover{
        background-color:  rgb(7, 73, 57);
        transition: all .2s;
   }
    &:active{
         transform: translate(.2rem, .2rem);
         box-shadow: none;
    }
    
}


@media screen and (max-width: 440px) {
    .container{
        width: 95%;
        padding: 0.2rem 0.75rem;
    }

    .container #question {
        margin: .4rem 0 .3rem 0;
       font-size: 0.9rem;
       font-weight: 500;
    
    }

    
.field {
    margin: .5rem 0;
   

    label {
        margin-left: .3rem;
        font-size: .7rem;
    }
}
}